.logo {
  width: 50px;
}
.xx {
  margin-left: 920px;
}
body {
  background-color: #1a1c20;
}
.sec1 {
  margin-top: 20px;
}
.sec1 .container hr {
  background-color: white;
  width: 150px;
}
.part {
  width: 216px;
}
.footer {
  margin-top: 40px;
  background-color: #14161b;
}
.footer .container .col-md-4 {
  margin-top: 58px;
}
@media screen and (max-width: 768px) {
  .carousel {
    width: 10%;
  }
}
